node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist/
build/
chroma_db/
test.db
.env
.env.local
*.db
*.db-journal
uploads/
