fastapi
uvicorn[standard]
sqlmodel
httpx
python-dotenv
chromadb
sentence-transformers
google-api-python-client
google-generativeai
pydantic-settings
sqlalchemy
pytesseract
pdf2image
python-magic
pillow
websockets
python-multipart
python-jose[cryptography]
